.card{
  border: 1px solid black;
  border-radius: 5px;
  min-width: 250px;
  max-width: 400px;
  margin: 10px;
  font-family: 'Montserrat', sans-serif;
  

  .card-top{
    margin: 0;
    padding: 10px 5px;
    background: #e67e22;
    display: flex;
    flex-direction: column;
    
    .category{
      span, input{
        background: #34495e;
        padding: 5px 4px;
        color: white;
        border-radius: 2px;
        border-top-left-radius: 5px;
      }

      input{
        width: 40px;
        font-size: 1rem;
        text-transform: uppercase;
      }
    }
  
    .headline{
      padding: 75px 10px;
      span, textarea{
        font-size: 2rem;
        max-width: 100%;
        background: transparent;
      }
    }

    .usr-profile{
      display: flex;
      flex-direction: row;
      background: #34495e;
      padding: 5px;
      max-height: 100px;
      margin-left: auto;
      align-items: center;
      border-radius: 3px;
      font-size: 0.8rem;
      
      .usr-name{
        color: white;
        display: flex;
        margin: 0 15px;

        input{
          background: #34495e;
          color: white;
        }
      }

      .usr-img {
        img{
          border-radius: 5px;
          width: 30px;
          height: 30px;
        }
        input[type='file']{
          display: none;
        }

        label{
          cursor: pointer;
        }
      }
    }
  }

  .card-bottom{
    border-top: 1px solid black;
    padding: 10px 5px;
    background: white;
    

    .btm-headline{
      font-weight: 600;
    }

    .btm-desc{
      margin-top: 10px;
      padding: 0 5px;
      font-size: 0.9rem;
      textarea{
        width: 100%;
        resize: none;
      }
    }

    .link{
      margin-top: 10px;
      font-size: 0.9rem;
      color: #7f8c8d;
    }
  }
}