body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background: #272727; }

.container {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  width: 80vw;
  background: white; }

.app-desc {
  width: 80vw;
  margin: 0 auto;
  color: #b9b9b9;
  text-align: center; }
